<script type="text/javascript" src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"></script>
<script type="text/javascript">window.jQuery || document.write('<script type="text/javascript" src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script type="text/javascript" src="{{ site.url }}/assets/js/scripts.min.js"></script>
<script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


{% if page.comments != false %}{% include disqus_comments.html %}{% endif %}

{% if site.float_share %}
<script type="text/javascript">
    sharing();
</script>
{% endif %}
