// Typography
// --------------------------------------------------

$base-font: 'Lato', Calibri, Arial, sans-serif;
$heading-font: $base-font;
$caption-font: $base-font;
$code-font: monospace;
$alt-font: serif;

$doc-font-size: 17;
$doc-line-height: 28;


// set-up the body font-size / line-height
html {
	font-size: 0px + $doc-font-size;
}

$menu-top				 : white;
$menu-height			 : 75px;
$menu-overflow			 : #2E2E2E;

// Colors
// --------------------------------------------------

$base-color				 : #3c403a;
$header-color			 : #7d7f7d;
$sub-item-color			 : rgba(#000, 0.1);
$header-margin			 : #F45145;

$body-color      		 : white;
$text-color      		 : #3c403a;
$comp-color 	 		 : complement(#222);
$border-color    		 : lighten(#222,60);
$white           		 : #fff;
$black           		 : #000;

$primary			     : #3c403a;
$secondary				 : #65ae4f;
$success			     : #5cb85c;
$warning			     : #dd8338;
$danger				     : #C64537;
$info				     : #308cbc;


// Screen Size
// --------------------------------------------------
$sc-small            : "768px";
$small               : "only screen and (min-width: 30em)";
$medium              : "only screen and (min-width: 48em)";
$large               : "only screen and (min-width: 75em)";
