.col-home-text{
display: inline-block;
width: 77%;
margin: 0;
@media(max-width: #{ $sc-small}){
    width: 100%;
}
    p {
    padding: 30px 10px;
    }
}

.home-testimonials-text{
display: inline-grid;
width: 75%;
margin: 0;
@media(max-width: #{ $sc-small}){
    width: 100%;
}
}

.col-home-img {
@media(max-width: #{ $sc-small}){
    margin: 0;
    width: 100%;
}
margin: 0px 40px 0px 0px;
width: 17%;
display: inline-block;
img {
    @media(max-width: #{ $sc-small}){
    margin: 0;
    padding: 0 50px;
    }
    margin: -80px 0 0 35px;
}
}

.home-testimonials {
margin: 0px 50px 0px 20px;
width: 12%;
display: inline-block;
@media(max-width: #{ $sc-small}){
    display: none;
}
img {
padding: 55px 15px 0 0;
    }
}

.quote {
color: #9c9e9a;
}
