---
layout: default
---
<body id="docs">
      <div class="container">
        <div class="title-container">
          <h3>{{ page.title }}</h3>
        </div>
         <div class="entry-content">
        <div class="navbar-docs">
          <ul><a href="{{ site.url }}/using-tiles/"> <b>Using Tiles</b></a>
            <li><a href="{{ site.url }}/using-tiles/getting-started-with-leaflet/">Getting started with Leaflet</a></li>
            <li><a href="{{ site.url }}/using-tiles/getting-started-with-openlayers/">Getting started with OpenLayers</a></li>
          </ul>
          <br>
          <ul><a href="{{ site.url }}/serving-tiles/"><b>Serving Tiles</b></a>
            <li><a href="{{ site.url }}/serving-tiles/manually-building-a-tile-server-18-04-lts/">Manually building a tile server (18.04 LTS)</a></li>
            <li><a href="{{ site.url }}/serving-tiles/using-a-docker-container/">Using a Docker container</a></li>
            <li><a href="{{ site.url }}/serving-tiles/manually-building-a-tile-server-16-04-2-lts/">Manually building a tile server (16.04.2 LTS)</a></li>
          </ul>

        </div>
      <div class="docs-col">

      {{ content }}
      </div>
    </div>
      <footer class="entry-meta">
        {% if page.modified %}<span>Updated on <span class="entry-date date published updated"><time datetime="{{ page.modified }}">{{ page.modified | date: "%B %d, %Y" }}</time></span></span>
        <span class="author vcard"><span class="fn">{{ site.owner.name }}</span></span>{% endif %}
      </footer>
    </div><!-- /.entry-content -->

{% include scripts.html %}
</body>
