---
layout: default
---
<!--<div class="entry-header">
  <div class="header-title">
    <div class="header-title-wrap">
      <h1>{{ page.title }}</h1>
      {% if page.date %}
        <h2><span class="entry-date date published updated"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time></span></h2>
      {% else %}
        <h2><span class="entry-date"><time>&nbsp;</time></span></h2>
      {% endif %}

      {% if site.reading_time and page.layout == 'post' %}
        <p class="entry-reading-time">
          <i class="fa fa-clock-o"></i>
          {% assign readtime = content | strip_html | number_of_words | divided_by:site.words_per_minute %}
          Reading time ~{% if readtime <= 1 %}1 minute{% else %}{{ readtime }} minutes{% endif %}
        </p>
      {% else %}
          <p class="entry-reading-time">
            &nbsp;
          </p>
      {% endif %}
    </div>
  </div>
</div> -->
<body id="page">

  <div class="container">
    <div class="title-container">
      <h3>{{ page.title }}</h3>
    </div>
    <div class="entry-content">

      {{ content }}
      <footer class="entry-meta">
        {% if page.modified %}<span>Updated on <span class="entry-date date published updated"><time datetime="{{ page.modified }}">{{ page.modified | date: "%B %d, %Y" }}</time></span></span>
        <span class="author vcard"><span class="fn">{{ site.owner.name }}</span></span>{% endif %}
      </footer>
    </div><!-- /.entry-content -->
  </div>

{% include scripts.html %}
</body>
